<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        a {
          text-decoration: none;
          color: black;
        }
    </style>
</head>
<body>
 <a href="javascript:history.back()">Back</a>
  <table id='result' class='display'>
    <thead>
      <tr>
      {% for header in headers %}
        <th>{{header}}</th>
      {% endfor %}
      </tr>
    </thead>

    <tbody>
    {% for object in objects %}

      <tr>

    {% for val in object %}
        <td>{{val}}</td>
      {% endfor %}
      </tr>

    {% endfor %}
    </tbody>
  </table>

</body>
</html>